.App{
  margin: 0 10px 0 10px;
  height: 80vh;
}

.App-logo{
  width: 300px;
}

.App-header{
  display: flex;
  align-items: center;
  border-bottom: 5px solid #e0354b;
}

.App-header > h1{
  color: #e0354b;
}

.App-body{
  margin-top: 60px;
}

.App-footer{
  margin-top: 600px;
  border-top: 5px solid #e0354b;
}

.App-footer p{
  text-align: center;
}

.login{
  display: flex;
}

.login  div{
  margin-right: 15px;
}

.m-3{
  margin-right: 10px;
}